/* Your custom styles goes here */

header h1::before {
  content: '';
  background:url('https://github.com/infoifcvideira/galeria/blob/master/others/IFC-logo.png');
  width: 16px;
  height: 16px;
  display: block;
}

body {
  background-color: green;
}
